<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 90vh;
        }

        .title {
            font-size: 2.5rem;

        }
    </style>
</head>

<body class="container">
    <h1 class="title">{{ message }}</h1>
    <p class="description">{{ description }}</p>
</body>

</html>